{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.prod.js"
      }
    }
  },
  "rules": {
    "max-len": [1, 80, 2, {ignoreComments: false}],
    "indent": [0],
    "no-underscore-dangle": [0],
    "no-unused-vars": [1, {"args": "none"}],
    "new-cap": [2, {"newIsCapExceptions": ["express"], "capIsNewExceptions": ["express.Router"]}],
    "no-console": [1, {allow: ["error", "info"]}],
    "import/prefer-default-export": [0], # should not apply to server pages
    "comma-dangle": [0, {
        "arrays": "always",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never",
    }],
    "react/jsx-first-prop-new-line": [0],
    "react/jsx-closing-bracket-location": [0],
    "react/jsx-indent-props": [0],
    "react/jsx-indent": [0],
    "react/no-unescaped-entities": [0], # Atom/esformatter doesn't suppoert HTML character entities
    "react/forbid-prop-types": [2, { "forbid": [any] }],
    "no-plusplus": [0]
  }
}
