@import './_list_item.scss';

.todo-list-item-input-container {
  height: $todo-item-height;
  line-height: $todo-item-height;

  background-color: #4e4e4f;
  text-align: left;

}

.todo-list-item-input {
  width: 95%;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);

  height: $todo-item-height;
  padding: 0 10px 0 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;

  background-color: #4e4e4f;
  font-size: 20px;

  $placeholder-color: #8a8b8c;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $placeholder-color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $placeholder-color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $placeholder-color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $placeholder-color;
  }
}
