@import '../../shared/stylesheets/_shared.scss';

.about-container {
  @extend .container-base;
  width: 100%;
}

.about-wrapper {
  font-size: 20px;
  text-align: center;
  padding: 50px 0px 15px 15px;
}
